/* src/app/marvel/marvel.module.css */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Reddit+Mono:wght@200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.container {
    font-family: "Reddit Mono", monospace;
    text-align: center;
    user-select: none;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100vw;
    background-color: #101010de;
    backdrop-filter: blur(10px);
    z-index: 100;
    text-align: center;
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    align-items: center;
    justify-content: center;
}

.backHome{
    margin: 1rem 2rem;
    font-size: 1.2rem;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.backHome:hover{
    color: #f75151;
    cursor: pointer;
    translate: 15px;
}

.backHome:active{
    translate: 0px;
}

.title {
    font-size: 4rem;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 10rem;
}

.card {
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(.47,1.64,.41,.8);
    cursor: pointer;
    border: #ffffff 1px solid;
}

.card:hover {
    transform: scale(1.4);
    z-index: 5;
    color: #f75151;
    border-color: #f75151;
    box-shadow: 0px 0px 80px rgb(0, 0, 0);
}

.card:active {
    transform: scale(1.25);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.characterImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.loading {
    flex-direction: column;
    font-family: "Reddit Mono", monospace;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loading > lord-icon{
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
  }

.error {
    flex-direction: column;
    font-family: "Reddit Mono", monospace;
    font-size: 2.5rem;
    font-weight: bold;
    color: #f75151;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error > lord-icon{
    width: 10rem;
    height: 10rem;
  }

  .footer {
    width: 100%;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.footer a:hover{
    color: #f75151;
    text-decoration: none;
}